<mat-toolbar *ngIf="user.socialUser != null">
  <mat-toolbar-row>
    <img src="assets/images/logo.jpg" width="50">
    <span>TravelDiction</span>
    <span class="example-spacer"></span>
    <img *ngIf="user.interests.length === 3" (click)="accessProfile()" id="profil-photo" mat-card-image alt="Facebook Photo" width="50">
    <span class="space-header"></span>
    <button *ngIf="user " class="btn btn-primary" (click)="signOut()">Se déconnecter</button>
  </mat-toolbar-row>
</mat-toolbar>
