mat-toolbar-row img {
  width: 50px!important;
}

.title span {
  font-size: 16px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.space-header {
  flex: 0.02 0.02 auto;
}

#profil-photo {
  border-radius: 50px;
}

#profil-photo:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.mat-card-image {
  margin: 0!important;
}
