.example-container {
  position: relative;
  padding: 5px;
  background-color: aqua;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40%;
  margin-top: 10vh;
  transform: translateY(-50%);
}

.mat-card-header {
  justify-content: center;
}

.mat-card-header .mat-card-title {
  margin: 0px;
}

.mat-card-title h2 {
  margin: 0px;
}


.mat-card-content p {
  text-align: center;
}

mat-card-content .select {
  margin-top: -60px;
}

.mat-card-actions {
  text-align: center;
}

.mat-card-actions hr {
  width: 25%;
}

.fb-login-button, .google-login-button {
  padding : 15px;
  z-index: 99;
}

.mat-flat-button.mat-primary {
  background-color: #3B5998;
}

.choix_in {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
  inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.continuer_in {
    text-align: center;
}

.continuer_in button {
  background-color: #8ccc8b;
  margin: 5px;
}

.interests {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

body {
  background-color: white;
}

#theatre {
  background-image: url("src/assets/images/theatre.jpg");
}

#sports {
  background-image: url("src/assets/images/foot.jpg");
}

#books {
  background-image: url("src/assets/images/books.jpg");
}

#museums {
  background-image: url("src/assets/images/museum.jpg");
}

#art {
  background-image: url("src/assets/images/art.jpg");
}

#concerts {
  background-image: url("src/assets/images/concerts.jpeg");
}

#movies {
  background-image: url("src/assets/images/movies.jpg");
}

#photography {
  background-image: url("src/assets/images/photography.jpg");
}

#painting {
  background-image: url("src/assets/images/painting.png");
}

#food {
  background-image: url("src/assets/images/food.jpg");
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1 p {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-color: #34495e;
  border-radius: 20px;
  color: white;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.choix_in:hover {
  box-shadow:2px 2px 10px gray;
}

.choix_in:nth-child(1) {
  background-color: green;
}

.choix_in:nth-child(2) {
  background-color: blue;
}

.choix_in:nth-child(3) {
  background-color: yellow;
  color: black;
}

.choix_in:nth-child(4) {
  background-color: red;
}

.choix_in:nth-child(5) {
  background-color: darkslategray;
}

.choix_in:nth-child(6) {
  background-color: violet;
}

.choix_in:nth-child(7) {
  background-color: aqua;
  color: black;
}

.choix_in:nth-child(8) {
  background-color: orange;
}

.choix_in:nth-child(9) {
  background-color: black;
}

.choix_in:nth-child(10) {
  background-color: slategray;
}

.select {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 25%;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.sec_in:nth-child(2) {
  background-color: red;
}

.sec_in:nth-child(3) {
  background-color: darkorange;
}

.sec_in:nth-child(4) {
  background-color: coral;
}

.select button {
  border-radius: 10px;
}




