<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
      xmlns="http://www.w3.org/1999/html">

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Vos 3 centres intêrets : </h2>
    </mat-card-title>
  </mat-card-header>
</mat-card>
<body>
  <div class="interests">
    <div class="card card-1" id="theatre" (click)="ajouterInterests('theatre')"><p>Theatre</p></div>
    <div class="card card-1" id="sports" (click)="ajouterInterests('sports')"><p>Sports</p></div>
    <div class="card card-1" id="books" (click)="ajouterInterests('books')"><p>Books</p></div>
    <div class="card card-1" id="museums" (click)="ajouterInterests('museums')"><p>Museums</p></div>
    <div class="card card-1" id="art" (click)="ajouterInterests('art')"><p>Art</p></div>
    <div class="card card-1" id="concerts" (click)="ajouterInterests('concerts')"><p>Concerts</p></div>
    <div class="card card-1" id="movies" (click)="ajouterInterests('movies')"><p>Movies</p></div>
    <div class="card card-1" id="photography" (click)="ajouterInterests('photography')"><p>Photography</p></div>
    <div class="card card-1" id="painting" (click)="ajouterInterests('painting')"><p>Painting</p></div>
    <div class="card card-1" id="food" (click)="ajouterInterests('food')"><p>Food</p></div>
  </div>
  <div class="continuer_in"><button [disabled]="user.interests.length != 3" (click)="redirectContinuer()" mat-flat-button>Continuez</button></div>
</body>
