body {
  height: 100px;
}

.example-card{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40%;
  margin-top: 50vh;
  transform: translateY(-50%);
  padding: 15px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-content p {
  text-align: center;
}

mat-card-content .select {
  margin-top: -60px;
}

.mat-card-actions {
  text-align: center;
}

.mat-card-actions hr {
  width: 25%;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.b-valid {
  margin-top: 20px;
  background-color: #8ccc8b;
  text-align: center;
}

.continuer_in {
  margin-top: 20px;
  text-align: center;
}

.continuer_in button {
  background-color: #8ccc8b;
}

#label-sex, #label-age {
  padding-right: 10px;
}
