<script src="... /angular-countries/dist/js/ngCountries.js"></script>

<body>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Veuillez compléter les informations suivantes :</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label id="label-sex">Sexe</label>
            <input type="radio" value="male" formControlName="gender" (change)="changeSuit('gender', $event)"> Male
            <input type="radio" value="female" formControlName="gender" (change)="changeSuit('gender', $event)"> Female
          <div class="error-block" *ngIf="submitted && handleError('gender', 'required')">
            Vous devez fournir une valeur !
          </div>
        </div>
        <div class="form-group">
          <label id="label-age">Age</label>
            <input type="number" class="form-control" formControlName="age" (change)="changeSuit('age', $event)">
          <div class="error-block" *ngIf="submitted && handleError('age', 'required')">
            Vous devez fournir une valeur !
          </div>
        </div>
        <div class="form-group">
          <label id="label-pays">Pays d'origine</label>
            <mat-select-country appearance="outline" (onCountrySelected)="onCountrySelected($event)"></mat-select-country>
        </div>
        <div class="form-group">
          <label>Langage</label>
          <select class="form-control" formControlName="language" (change)="changeSuit('language', $event)">
            <option ngValue="">--Choisissez une option--</option>
            <option *ngFor="let lan of fileValsLanguage()">{{ lan }}
          </select>
          <div class="error-block" *ngIf="submitted && handleError('language', 'required')">
            Vous devez fournir une valeur !
          </div>
        </div>
        <div class="form-group">
          <label>Statut</label>
          <select class="form-control" formControlName="status" (change)="changeSuit('status', $event)">
            <option value="">--Choisissez une option--</option>
            <option *ngFor="let stat of fileValsStatus()">{{ stat }}
          </select>
          <div class="error-block" *ngIf="submitted && handleError('status', 'required')">
            Vous devez fournir une valeur !
          </div>
        </div>
        <div class="form-group">
          <label>Religion</label>
          <select class="form-control" formControlName="religion" (change)="changeSuit('religion', $event)">
            <option value="">--Choisissez une option--</option>
            <option *ngFor="let rel of fileValsReligion()">{{ rel }}
          </select>
          <div class="error-block" *ngIf="submitted && handleError('religion', 'required')">
            Vous devez fournir une valeur !
          </div>
        </div>
        <div class="continuer_in"><button type="submit" [disabled]="loginForm.invalid" mat-flat-button>OK</button></div>
      </form>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
</body>
