<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Bienvenue sur TravelDiction !</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Afin d'accéder à nos services, veuillez vous connecter :</p>
    <mat-card-actions>
      <div><button type="button" (click)="signInWithFB()" mat-flat-button color="primary">Connectez-vous avec Facebook</button></div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
