.example-container {
  position: relative;
  padding: 5px;
  background-color: aqua;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.mat-card-header {
  justify-content: center;
}

.mat-card-content p {
  text-align: center;
}

.mat-card-actions {
  text-align: center;
}

.mat-card-actions hr {
  width: 25%;
}

.fb-login-button, .google-login-button {
  padding : 15px;
  z-index: 99;
}

.mat-flat-button.mat-primary {
  background-color: #3B5998;
}


