@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

mat-toolbar-row img {
  width: 50px!important;
}

mat-toolbar-row {
  margin-bottom: 15px;
}

.title span {
  font-size: 16px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.space-header {
  flex: 0.02 0.02 auto;
}

#profil-photo {
  border-radius: 50px;
}

#profil-photo:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.mat-card-image {
  margin: 0!important;
}

.mat-toolbar-row {
  background-color: white;
}

.row {
  align-content: center;
  height: 100px;
}

body
{
  font-family: 'Lato', 'sans-serif';
  background-color: whitesmoke;
}

.profile
{
  display: inline-block;
  background-color: white;
  margin-top: 50px;
}

.well {
  margin-top: 25vh;
  transform: translateY(-50%);
}

.col-md-offset-2 {
  margin: 0!important;
}

.card {
  display: grid;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:11px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

.pp-profile {
  border-radius: 60px;
}

figcaption.ratings
{
  margin-top:20px;
}
figcaption.ratings a
{
  color:#f1c40f;
  font-size:11px;
}
figcaption.ratings a:hover
{
  color:#f39c12;
  text-decoration:none;
}
.divider
{
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis
{
  border-top: 4px solid transparent;
}
.emphasis:hover
{
  border-top: 4px solid #1abc9c;
}
.emphasis h2
{
  margin-bottom:0;
}
span.tags
{
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
  margin: 3px;
}

.dropdown-menu
{
  background-color: #34495e;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
  margin-left: -125px;
  left: 50%;
}
.dropdown-menu .divider
{
  background:none;
}
.dropdown-menu>li>a
{
  color:#f5f5f5;
}
.dropup .dropdown-menu
{
  margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}

.mat-flat-button.mat-primary {
  background-color: #3B5998;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn, .btn-large, .btn-small, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg)
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}

.example-card{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40%;
  margin-top: 10vh;
  transform: translateY(-50%);
}

.mat-card-header {
  justify-content: center;
}

.mat-card-header .mat-card-title {
  margin: 0px;
}

.mat-card-title h2 {
  margin: 0px;
}

.mat-card-content p {
  text-align: center;
}



