<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<mat-toolbar>
  <mat-toolbar-row>
    <img (click)="backHome()" src="assets/images/logo.jpg" width="50">
    <span>TravelDiction</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="signOut()">Se déconnecter</button>
  </mat-toolbar-row>
</mat-toolbar>
<h3 class="phrase-prediction">Notre prédiction pour {{ user.socialUser.firstName }} !</h3>
<body>
<div class="card" *ngIf="user.prediction[0].toString() !== 'no_data'">
  <div><img class="card-image card2" src="assets/images/{{ user.prediction[0]}}.gif"></div>
  <div class="card-text card2">
    <h2>{{ user.prediction[0] }}</h2>
    <mat-card-actions>
      <a class="bk" type="button" href="https://www.booking.com/{{ user.prediction[0] }}" mat-flat-button color="primary" target="_blank">Réservez votre voyage avec Booking.com</a>
    </mat-card-actions>
  </div>
  <div class="card-stats card2">
    <div class="stat">
      <div class="value">Mars</div>
      <div class="type">le meilleur mois</div>
    </div>
    <div class="stat border">
      <div class="value">18.5</div>
      <div class="type">la température moy.</div>
    </div>
    <div class="stat">
      <div class="value">Anglais</div>
      <div class="type">la langue</div>
    </div>
  </div>
</div>
<div class="card" *ngIf="user.prediction[1].toString() !== 'no_data'">
  <div><img class="card-image card2" src="assets/images/{{ user.prediction[1]}}.gif"></div>
  <div class="card-text card2">
    <h2>{{ user.prediction[1] }}</h2>
    <mat-card-actions>
      <a class="bk" type="button" href="https://www.booking.com/{{ user.prediction[1] }}" mat-flat-button color="primary" target="_blank">Réservez votre voyage avec Booking.com</a>
    </mat-card-actions>
  </div>
  <div class="card-stats card2">
    <div class="stat">
      <div class="value">Février</div>
      <div class="type">le meilleur mois</div>
    </div>
    <div class="stat border">
      <div class="value">24.6</div>
      <div class="type">la température moy.</div>
    </div>
    <div class="stat">
      <div class="value">Anglais</div>
      <div class="type">la langue</div>
    </div>
  </div>
</div>
<div class="card" *ngIf="user.prediction[2].toString() !== 'no_data'">
  <div><img class="card-image card2" src="assets/images/{{ user.prediction[2]}}.gif"></div>
  <div class="card-text card2">
    <h2>{{ user.prediction[2] }}</h2>
    <mat-card-actions>
      <a class="bk" type="button" href="https://www.booking.com/{{ user.prediction[2] }}" mat-flat-button color="primary" target="_blank">Réservez votre voyage avec Booking.com</a>
    </mat-card-actions>
  </div>
  <div class="card-stats card2">
    <div class="stat">
      <div class="value">Avril</div>
      <div class="type">le meilleur mois</div>
    </div>
    <div class="stat border">
      <div class="value">18.5</div>
      <div class="type">la température moy.</div>
    </div>
    <div class="stat">
      <div class="value">Anglais</div>
      <div class="type">la langue</div>
    </div>
  </div>
</div>
</body>
<footer>
  <div class="rating">
    <span>Un avis ?</span>
    <img id="p_bleu" src="assets/images/pouce_bleu.png" (click)="subscribeTable()">
    <img id="p_rouge" src="assets/images/pouce_rouge.png" (click)="signOut()">
  </div>
</footer>


