.example-container {
  position: relative;
  padding: 5px;
  background-color: aqua;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  height: 45px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-title {
  transform: translateY(-40%);
}

.home-container {
  background-color: white!important;
}

.phrase-prediction {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  color: black;
  background-color: #8bcd8b;
  width: 30%;
  border-radius: 10px;
  font-size: 24px;
  color: black;
  background-color: #8bcd8b;
  width: 20%;
  border-radius: 10px;
}

.mat-toolbar-row {
  background-color: white;
}

mat-toolbar-row img {
  width: 50px!important;
}

.title span {
  font-size: 16px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.space-header {
  flex: 0.02 0.02 auto;
}

#profil-photo {
  border-radius: 50px;
}

#profil-photo:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.mat-card-image {
  margin: 0!important;
}

body {
  padding-top: 15px;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}

.card {
  display: grid;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;


  transition: 0.5s ease;
  cursor: pointer;
  margin:0 30px 30px 30px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image.card2 {
  background-size: cover;
  height: 200px;
  width: 100%;
}

.card-text.card2 .date {
  color: rgb(255, 77, 7);
}
.card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
  background: rgb(255, 77, 7);
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mat-card-content p {
  text-align: center;
}

.mat-card-actions {
  text-align: center;
}

.mat-card-actions hr {
  width: 25%;
}

.fb-login-button, .google-login-button {
  padding : 15px;
  z-index: 99;
}

.mat-flat-button.mat-primary {
  background-color: #3B5998;
}

.bk {
  margin: 15px;
  background-color: #002a66!important;
}

.pos-2, .pos-3 {
  margin-top: 90px;
}

.rating {
  text-align: center;
  position: relative;
}

footer {
  background-color: #1abc9c;
}

.rating span {
  position: absolute;
  top: 20px;
  left: 620px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#p_bleu {
  width: 50px;
}

#p_rouge {
  width: 40px;
}

#p_bleu:hover, #p_rouge:hover {
  transform: scale(1.1);
}


